/*
body{
   max-width: 600px;
   margin: 0 auto;
}
.one{
   background: pink;
   border: 3px solid blue;
   padding: 32px;
   margin: 12px;
}
.two{
   background: lightblue;
   border: 3px solid purple;
   margin-bottom: 48px;
}
.three{
   background: peachpuff;
   border: 3px solid brown;
   width: 200px;
   padding: 32px;
   margin-left: auto;
}
*/

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  border: 1px solid black;
  font-size: 16px;
}

.title {
  background: #e3f4ff;
  margin: 8px;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  margin: 8px;
  padding: 16px 8px;
}

.button-container {
  background: #e3f4ff;
  margin: 8px;
  padding: 8px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 8px 24px;
  margin: auto;
}
